<app-header></app-header>
<br><br><br>
<div class="grid">
    <div class="col">
        <div class="grid">
            <div class="col">
                <button routerLink="/items" class="p-button p-button-primary menu-items"> 
                    <img src="./../../assets/img/shopping.png" height="100" alt="">
                    <br />
                    <span class="menu-label">Items</span>
                </button>
            </div>
        </div>
        <div class="grid">
            <div class="col">
                <button routerLink="/sales" class="p-button p-button-primary menu-sales"> 
                    <img src="./../../assets/img/sales.png" height="200" alt="">
                    <br />
                    <span class="menu-label">Sales</span>
                </button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="grid">
            <div class="col">
                <button routerLink="/stock-in" class="p-button p-button-primary menu-items"> 
                    <img src="./../../assets/img/in-stock.png" height="100" alt="">
                    <br />
                    <span class="menu-label">Stock In</span>
                </button>
            </div>
        </div>
        <div class="grid">
            <div class="col">
                <button routerLink="/stock-out" class="p-button p-button-primary menu-items"> 
                    <img src="./../../assets/img/out-of-stock.png" height="100" alt="">
                    <br />
                    <span class="menu-label">Stock Out</span>
                </button>
            </div>
        </div>
        <div class="grid">
            <div class="col">
                <button routerLink="/inventory" class="p-button p-button-primary menu-items"> 
                    <img src="./../../assets/img/inventory.png" height="100" alt="">
                    <br />
                    <span class="menu-label">Inventory</span>
                </button>
            </div>
        </div>
    </div>
</div>
